.mod-poster{
    margin-bottom: 25px;
}
.mod-poster .bd{
    padding: 60px 0;
    line-height: 24px;
}
.mod-poster .bd h1{
    margin-bottom: 10px;
    line-height: 48px;
    font-weight: bold;
    font-size: 36px;
    color:var(--title-color);
}
.mod-poster .bd h1 span.tag{
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px;
    background: rgba(255, 255, 255,0.8);
    line-height: 26px;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(110, 119, 129);
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.03);
}
.mod-poster .bd p{
    margin-bottom: 10px;
    line-height: 26px;
}
.mod-poster .bd b{
    margin: 0 3px;
    color: #fd7474;
}
.mod-poster .buttons{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    line-height: 32px;
}
.mod-poster .btn {
    display: inline-block;
    height: 44px;
    min-width: 120px;
    padding:0 20px;
    margin: 0 5px;
    background: #2095f2;
    border: medium none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 21px;
    text-decoration: none;
}
.mod-poster .btn img,.mod-poster .btn span{
    vertical-align: middle;
}
.mod-poster .btn:hover{
    background: #1b85da;
}
.mod-poster .btn-green{
    background: #4bae4f;
    color: #fff;
}
.mod-poster .btn-green:hover{
    background: #47a04b;
}
.mod-poster .bd .btn-red{
    background: #f56954;
    color: #fff;
}
.mod-poster .btn-red:hover{
    background: #f4543c;;
}
.mod-poster .btn-orange{
    background: #ff9000;
    color: #fff;
}
.mod-poster .btn-orange:hover{
    background: #e18309;
}


.mod-panel{
    margin-bottom: 25px;
    background: #fff;
    border: 1px solid #f0f0f099;
    border-radius: 8px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.02);
}
.mod-panel .hd{
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f099;
    line-height: 24px;
}
.mod-panel .hd .title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;  
    color: var(--title-color);
}
.mod-panel .hd .more{
    float: right;
    text-decoration: none;
    color: #999;
}
.mod-panel .hd::after{
    position: absolute;
    left: 2px;
    top: 50%;
    content: '';
    width: 4px;
    height: 24px;
    background: #2095f2;
    margin-top: -12px;
    border-radius: 3px;
}
.mod-panel .bd{
    padding: 20px;
}
.mod-panel .table-inner{
    overflow-x: auto;
}
.mod-panel table{
    width: 100%;
    margin-bottom: 10px;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    color: #666;
}
.mod-panel table span,.mod-panel table strong{
    vertical-align: middle;
}
.mod-panel th,.mod-panel td{
    padding: 8px 12px;
    line-height: 16px;
    border: 1px solid #e1e6ea;
}
.mod-panel td.th{
    width: 20%;
    background: #f6f8fa;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    color: #333;
}
.mod-panel td .subtitle{
    font-size: 13px;
    color: #999;
}
.mod-panel td .text-gray{
    color: #999;
}

.mod-intro{
    margin-bottom: 25px;
    background: #fff;
    border: 1px solid #f0f0f099;
    border-radius: 8px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.02);
}
.mod-intro .hd{
    margin: 0 10px;
    padding: 0 10px;
    border-bottom: 1px solid #f0f0f099;
    line-height: 40px;
}
.mod-intro .hd h3{
    font-size: 16px;
    font-weight: bold;
}
.mod-intro .bd{
    padding: 20px;
}
.mod-intro .bd p{
    line-height: 26px;
    color: #666;
}


@media screen and (max-width: 1020px) {
    .mod-poster{
        margin-bottom: 25px;
    }
    .mod-poster .bd{
        padding: 25px 0;
        margin-bottom: 15px;
    }
    .mod-poster .bd h1{
        margin-bottom: 5px;
        line-height: 26px;
        font-size: 20px;
    }
    .mod-poster .bd p{
        line-height: 22px;
        font-size: 13px;
        overflow: hidden;
    }

    .mod-copy{
        padding: 15px 0 25px;
        margin-bottom: 25px;
    }
    .mod-copy .bd p{
        line-height: 22px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .mod-poster .buttons{
        margin-bottom: 10px;
        padding: 10px 0;
    }
    .mod-poster .btn{
        min-width: 64px;
        margin: 2px 1px;
        padding: 0 15px;
        height: 36px;
        line-height: 35px;
        font-size: 14px;
    }
    .mod-poster .btn img{
        display: none;
    }

    .mod-panel .bd{
        padding: 15px 10px;
    }
    .mod-panel .bd input[type="text"]{
        width: 200px;
    }
    .mod-panel .bd .c-ft {
        padding: 10px;
    }
    .mod-panel .btn {
        min-width: 64px;
        margin: 2px 1px;
        padding: 0 15px;
        height: 36px;
        line-height: 35px;
        font-size: 14px;
    }
}
