.module{
    margin: 160px 0;
}
.module .hd{
    margin-bottom: 6px;
    line-height: 32px;
}
.module .hd span{
    font-size: 20px;
    font-weight: bold;
    color: var(--title-color);
}


.mod-panel{
    margin-bottom: 25px;
    background: #fff;
    border: 1px solid #f0f0f099;
    border-radius: 8px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.02);
}
.mod-panel .hd{
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f099;
    line-height: 24px;
}
.mod-panel .hd .title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;  
    color: var(--title-color);
}
.mod-panel .hd .more{
    float: right;
    text-decoration: none;
    color: #999;
}
.mod-panel .hd::before{
    position: absolute;
    left: 2px;
    top: 50%;
    content: '';
    width: 4px;
    height: 24px;
    background: #2095f2;
    margin-top: -12px;
    border-radius: 3px;
}
.mod-panel .bd{
    padding: 20px;
}
.mod-panel .table-inner{
    overflow-x: auto;
}
.mod-panel table{
    width: 100%;
    margin-bottom: 10px;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    color: #666;
}
.mod-panel table span,.mod-panel table strong{
    vertical-align: middle;
}
.mod-panel th,.mod-panel td{
    padding: 8px 12px;
    line-height: 16px;
    border: 1px solid #e1e6ea;
}
.mod-panel td.th{
    width: 20%;
    background: #f6f8fa;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    color: #333;
}
.mod-panel td .subtitle{
    font-size: 13px;
    color: #999;
}
.mod-panel td .text-gray{
    color: #999;
}
.mod-panel .bd li{
    padding: 4px 0;
    line-height: 24px;
}
.mod-panel .bd li strong{
    font-weight: bold;
}
.mod-panel .buttons{
    margin-bottom: 20px;
    padding: 15px 0;
    border-radius: 6px;
    line-height: 32px;
}
.mod-panel .btn {
    display: inline-block;
    height: 44px;
    min-width: 120px;
    padding:0 20px;
    margin: 0 5px;
    background: #2095f2;
    border: medium none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
}
.mod-panel .btn img,.mod-panel .btn span{
    vertical-align: middle;
}
.mod-panel .btn:hover{
    background: #1b85da;
}


.mod-copy{
    margin-bottom: 65px;
    padding: 35px 0;
    background: rgb(246, 248, 250);
}
.mod-copy .bd{
    margin:0 5px;
}
.mod-copy .bd p{
    margin-bottom: 12px;
    line-height: 28px;
    text-indent: 2em;
}
.mod-copy .bd .buttons{
    margin: 15px 0;
}
.mod-copy .bd .text-red{
    font-weight: bold;
    color: #fd7474;
}
.mod-copy .bd code{
    display: block;
    margin-bottom: 15px;
    padding: 8px 15px;
    line-height: 20px;
    background: #fff;
    border: 1px solid rgba(27,31,36,.15);
    border-radius: 5px;
    word-break: break-word;
}


@media screen and (max-width: 1020px) {
    .mod-copy{
        padding: 15px 0 25px;
        margin-bottom: 25px;
    }
    .mod-copy .bd p{
        line-height: 22px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {

    .mod-panel .bd{
        padding: 15px 10px;
    }
    .mod-panel .bd input[type="text"]{
        width: 200px;
    }
    .mod-panel .bd .c-ft {
        padding: 10px;
    }
    .mod-panel .btn {
        min-width: 64px;
        margin: 2px 1px;
        padding: 0 15px;
        height: 36px;
        line-height: 35px;
        font-size: 14px;
    }
    .mod-poster .btn img{
        display: none;
    }

}
